extends ../layout/index

block contenido
    .detalle-container
        h1.text-3xl.bold= casa.titulo

        .grid-cols-2.grid.gap-6
            .imagenes
                each img in casa.imagenes
                    img(src=`/uploads/${img.ruta}` alt="foto propiedad")

            .info
                h2 MN #{casa.precio}
                p #{casa.titulo} 
                p #{casa.descripcion}
                p #{casa.direccion} habitaciones

                h3 Agente
                p #{casa.usuario.nombre}
                p #{casa.usuario.email}
                p #{casa.usuario.telefono}

                a.boton1(href=`/contactar/${casa.id}`) Contactar
