extends ../layout/index

block header
  header.header
    div.divLogo
      img(src='/images/logoLightGreen.png')
    

block contenido


  div.divCasas
    each casa in casas
      div.divCasa
        // SI TIENE IMÁGENES
        if casa.Imagens && casa.Imagens.length > 0
          img.imagenCasa(src=`/uploads/${casa.Imagens[0].ruta}`)
        else
          img.imagenCasa(src='/images/default_house.png')

        div.divInfoCasa
          .textoCasa.font-extrabold.text-4xl.separacion MN #{casa.precio}
          .textoCasa.grandeFina #{casa.calle}
          .textoCasa.mediano.font-thin #{casa.colonia}, #{casa.ciudad}
          .textoCasa #{casa.superficie}m² · #{casa.habitaciones} rec · #{casa.banos} baños · #{casa.estacionamiento} estac
          .textoCasa #{casa.descripcion.substring(0, 120)}...
          a.boton1.texto.btnInfo(
            href=`/propiedades/${casa.id}`
            class="bg-blue-600 rounded-md hover:bg-blue-700 transition-colors"
          ) Ver Detalles
    l

  script.
    function ingresar() { window.location.href = "/logout"; }
    function perfil() { window.location.href = "/perfil"; }
