extends ../layout/index

block header
  header.header
    div.divLogo
      img(src='/images/logoLightGreen.png')


block contenido
  if accion === 'editar'
    h2.text-xl.mb-4 Imágenes actuales

    .contenedorImgs
      if imagenes.length
        each img in imagenes
          .imgBox
            img.imgExampleG(src=`/uploads/${img.nombre}`)
            button.botonEliminar(
              data-id=img.id
            ) Eliminar
      else
        p No hay imágenes aún

  form.space-y-5(
    method="POST"
    enctype="multipart/form-data"
    action= accion === 'crear' ? '/crear' : `/propiedades/editar/${casa.id}`
  )

    input.entradas(type="text" name="precio" placeholder="PRECIO" value=casa.precio || '')
    input.entradas(type="text" name="direccion" placeholder="DIRECCION" value=casa.direccion || '')
    input.entradas(type="text" name="titulo" placeholder="TITULO" value=casa.titulo || '')
    textarea.entradas(name="descripcion" rows="8" placeholder="DESCRIPCIÓN")= casa.descripcion || ''

    input(type="file" name="imagenes" multiple)

    button.boton1 Guardar

append scripts
  script.
    document.querySelectorAll('.botonEliminar').forEach(btn => {
      btn.onclick = async () => {
        const id = btn.dataset.id;

        const res = await fetch(`/imagenes/${id}`, { method: 'DELETE' });

        if (res.ok) {
          btn.parentElement.remove();
        }
      };
    });