extends ../layout/index

block header
  header.header
    div.divLogo
      img(src='/images/logoLightGreen.png', alt='Logo')

block contenido
  .contenedorGeneral

    // --- DATOS DEL USUARIO ---
    .perfilUsuario
      h2.nombreUsuario #{usuario.nombre}

      if usuario.foto
        img.fotoPerfil(src=`/uploads/${usuario.foto}` alt="perfil")
      else
        img.fotoPerfil(src="/images/akali.jpg" alt="perfil")

      p.correoUsuario #{usuario.email}
      p.telefonoUsuario #{usuario.telefono}

      a.botonPublicar(href="/propiedades/crear") Publicar


    // --- LISTA DE ANUNCIOS ---
    .listaAnuncios
      h2.tituloListado Mis anuncios

      if casas.length
        each casa in casas
          div.divCasa
            // Imagen principal
            if casa.imagenes.length
              img.imagenCasa(src=`/uploads/${casa.imagenes[0].nombre}`)
            else
              img.imagenCasa(src='/images/casa.png')

            div.divInfoCasa
              .textoCasa.font-extrabold.text-4xl.separacion MN #{casa.precio}
              .textoCasa.grandeFina #{casa.titulo}
              .textoCasa.mediano.font-thin #{casa.direccion}
              .textoCasa #{casa.descripcion.substring(0, 120)}...

            .botonesCasa
              a.boton1.texto.btnInfo(
                href=`/propiedades/editar/${casa.id}`
                class="bg-blue-600 rounded-md hover:bg-blue-700 transition-colors"
              ) Modificar

              form(method="POST", action=`/propiedades/eliminar/${casa.id}`)
                button.boton2.texto.btnInfo(
                  type="submit"
                  class="bg-blue-600 rounded-md hover:bg-blue-700 transition-colors"
                ) Eliminar

      else
        p.textoCasa No tienes propiedades publicadas aún.


append scripts
  script.
    console.log("Perfil cargado correctamente");
