extends ../layout/index

block header
  header.header
    div.divLogo
      img(src='/images/logoLightGreen.png')
      
block contenido
    .px-4.shadow.cuadros.registroM
        img.mb-4(src='/images/logoLightGreen.png', alt='Un perro pug')
        

        form.space-y-5(method="POST" action="/registro")
            div
                input#nombre.entradas(
                    placeholder="NOMBRE" type="text" name="nombre" )
            div
                input#email.entradas(
                    placeholder="EMAIL" type="email" name="email" )
            div
                input#phone.entradas(
                    placeholder="PHONE NUMBER" type="number" name="telefono" )
            div
                input#password.entradas(
                    placeholder="PASSWORD" type="password" name="password" )
            div
                input#repetir_password.entradas(
                    placeholder="REPITE TU PASSWORD" type="password" name="repetir_password" )
            div.flex.items-center.justify-between  
                a.textoLink(href="/login") ¿Ya tienes una cuenta? Inicia Sesión
                a.textoLink(href="/olvide-password") ¿Olvidaste tu password?

            input.boton1.texto(type="submit" value="Crear Cuenta" class="bg-blue-600 w-full text-white uppercase font-bold py-3 rounded-md hover:cursor-pointer hover:bg-blue-700 transition-colors")
